rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // -------------------------
    // USERS COLLECTION
    // -------------------------
    match /Users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // -------------------------
    // SYMPTOMS COLLECTION
    // -------------------------
    match /symptoms/{symptomId} {
      allow read, write: if request.auth != null
        && request.auth.uid == request.resource.data.userId;

      allow update: if request.auth != null
        && request.auth.uid == resource.data.userId;

      allow delete: if request.auth != null
        && request.auth.uid == resource.data.userId;
    }

    // -------------------------
    // MEDICATIONS COLLECTION
    // -------------------------
    match /medications/{medId} {
      allow read, write: if request.auth != null
        && request.auth.uid == request.resource.data.userId;

      allow update: if request.auth != null
        && request.auth.uid == resource.data.userId;

      allow delete: if request.auth != null
        && request.auth.uid == resource.data.userId;
    }
  }
}
