.custom-navbar {
	background-color: rgba(0, 128, 128, 0.85);
}

.navbar-brand,
.nav-link {
	color: white;
}

.nav-link:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.nav-link.active {
	font-weight: bold;
}

.nav-link .fa-icon {
	margin-right: 5px;
}

.dropdown-icon {
	margin-right: 0.5rem;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
	color: white !important; /* Ensures text is white */
}

.icon-style {
	margin-right: 10px;
	color: rgb(255, 255, 255);
}

.title-style {
	color: rgb(255, 255, 255);
}
